@tailwind base;
@tailwind components;
@tailwind utilities;

.containers {
  @apply container mx-auto overflow-x-hidden;
  transition: all 0.3s ease-in-out;
}

.banner {
  @apply 2xl:h-[52.6rem] xl:h-[52.6rem] lg:h-[52.6rem] md:h-[45rem] w-full h-[22rem] relative -z-10;
}

.banner::after {
  content: '';
  @apply absolute 2xl:h-[52.6rem] xl:h-[52.6rem] lg:h-[52.6rem] md:h-[45rem] w-full h-[22rem] inset-0 bg-gradient-to-b from-current to-black opacity-70;
  transition: all 0.3s ease-in-out;
}
